@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400&family=Quicksand:wght@300;400;500;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-top: 80px;
}
@media (max-width: 767px) {
  body {
    padding-top: 40px;
  }
}

a {
  text-decoration: none !important;
  transition: all 0.5s;
  color: #697CA6;
}
a:hover {
  color: #5E81FE;
}

.section-outer {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #D8E3FE;
  overflow: hidden;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
}
.section-inner--wide {
  max-width: 1200px;
}

.btn {
  box-sizing: border-box;
  width: 104px;
  height: 40px;
  margin: 0;
  border: none;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  line-height: 16px;
  font-size: 12px;
  background-color: #D2E1FF;
  border-radius: 4px;
  padding: 12px 16px;
}
.btn:hover {
  font-weight: 700;
}
.btn:hover .btn-link {
  color: #5E81FE;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #3D4F9F;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 500;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}

h3 {
  font-size: 48px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 36px;
}
@media (max-width: 767px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 767px) {
  h5 {
    font-size: 20px;
  }
}

p {
  font-size: 17px;
  letter-spacing: 3%;
  line-height: 2;
  color: #8D96BD;
}
@media (max-width: 767px) {
  p {
    font-size: 13px;
  }
}

.ta-c {
  text-align: center;
}

.play-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}
@media (max-width: 575px) {
  .play-icon {
    width: 40px;
    height: 40px;
  }
}
.play-icon::before {
  display: block;
  margin-left: 15px;
  content: "";
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-left-color: #5E81FF;
  border-width: 10px 11px;
}

.dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0;
  transform: translateX(-8px);
}
.dots__item--active {
  background-color: #5283FF !important;
}
.dots__item {
  list-style: none !important;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #D1D6E3;
}
.dots__item + .dots__item {
  margin-left: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.btn-burger {
  display: none;
  background-color: transparent !important;
  border: 1px solid #B6BAC7;
  padding: 4px;
  width: auto;
}
.btn-burger span {
  width: 24px;
  display: block;
  height: 2px;
  background-color: #B6BAC7;
  border-radius: 5%;
}
.btn-burger span + span {
  margin-top: 4px;
}
@media (max-width: 991px) {
  .btn-burger {
    display: block;
    margin-left: auto;
  }
}

.vertical-indent--s {
  padding-top: 20px;
  padding-bottom: 20px;
}
.vertical-indent--m {
  padding-top: 60px;
  padding-bottom: 60px;
}
.vertical-indent--l {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .vertical-indent--s {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .vertical-indent--m {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .vertical-indent--l {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.section-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  overflow: visible;
}
.section-header::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.section-header--active-nav::before {
  display: block;
}
.section-header--active-nav .main-navigation__inner-wrapp {
  transform: translateY(0) !important;
}

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation__inner-wrapp {
  margin-left: 60px;
  display: flex;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .section-header .main-navigation__inner-wrapp {
    transform: translateY(-200%);
    transition: 0.5s all;
    position: absolute;
    background-color: #fff;
    margin-left: 0;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100 !important;
    padding-bottom: 20px;
  }
  .section-header .main-navigation__inner-wrapp .socials, .section-header .main-navigation__inner-wrapp .btn, .section-header .main-navigation__inner-wrapp .nav {
    margin: 0;
  }
  .section-header .main-navigation__inner-wrapp .nav-list {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-header .main-navigation__inner-wrapp .socials, .section-header .main-navigation__inner-wrapp .btn, .section-header .main-navigation__inner-wrapp .nav {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .section-header .main-navigation__inner-wrapp {
    padding-bottom: 8px;
  }
  .section-header .main-navigation__inner-wrapp .socials, .section-header .main-navigation__inner-wrapp .btn, .section-header .main-navigation__inner-wrapp .nav {
    margin: 0;
  }
  .section-header .main-navigation__inner-wrapp .nav-list__item {
    margin-left: 20px;
  }
  .section-header .main-navigation__inner-wrapp .socials, .section-header .main-navigation__inner-wrapp .btn, .section-header .main-navigation__inner-wrapp .nav {
    margin-top: 20px;
  }
}
.main-navigation .nav {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #697CA6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-navigation .nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-navigation .nav-list__item {
  transition: all 0.5s;
  margin-left: 40px;
  list-style: none;
}
.main-navigation .nav-list__item:first-child {
  margin-left: 0;
}
.main-navigation .nav-list__item:hover {
  font-weight: 700;
  color: #5E81FE;
}
.main-navigation .logo__link {
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 100%;
  display: block;
  transition: all 0.3s;
}
.main-navigation .socials {
  display: flex;
  margin-left: auto;
  color: #697CA6;
}
.main-navigation .socials-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.main-navigation .socials-list__item {
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
}
.main-navigation .socials-list__item:first-child {
  margin-left: 0;
}
.main-navigation .socials-list__item-link {
  text-transform: uppercase;
  transition: all 0.5s;
  color: hsl(221, 26%, 53%);
}
.main-navigation .socials-list__item-link path {
  transition: all 0.5s;
  fill: #B6BAC7;
}
.main-navigation .socials-list__item-link:hover {
  color: #5E81FE;
}
.main-navigation .socials-list__item:hover path {
  fill: #6188FF;
}
.main-navigation .btn {
  margin-left: 48px;
}
@media (max-width: 991px) {
  .main-navigation .btn {
    margin-left: auto;
  }
}

.section-hero {
  position: relative;
  z-index: 1;
  padding: 0;
  background-color: #F4F7FF;
}
.section-hero .slider-hero-image {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-hero .slider-hero-image__item {
  height: 568px;
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media (max-width: 767px) {
  .section-hero .slider-hero-image__item {
    height: auto;
  }
}
.section-hero .slider-hero-image__item-container {
  text-align: center;
}
.section-hero .slider-hero-image__item-container h2 {
  margin-top: 16px;
}
.section-hero .slider-hero-image__item-container p {
  margin: 28px auto;
  max-width: 60%;
}
.section-hero .dots {
  position: relative;
  margin-bottom: 28px;
}
.section-hero .dots .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 20px;
}

.section-customer .section-inner .customer-container {
  width: 100%;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .section-customer .section-inner .customer-container {
    flex-wrap: wrap;
  }
  .section-customer .section-inner .customer-container .customer__item {
    margin: 0 auto;
    align-items: center;
    align-self: center;
    justify-self: center;
  }
  .section-customer .section-inner .customer-container .customer__item + .customer__item {
    padding-left: 20px;
  }
}
@media (max-width: 575px) {
  .section-customer .section-inner .customer-container .customer__item {
    margin: 8px auto;
  }
}
.section-customer .section-inner .customer-container .customer__item path {
  fill: #D6DAE5;
  transition: all 0.5s;
}
.section-customer .section-inner .customer-container .customer__item:hover path {
  fill: #5E81FE;
}

.section-plan {
  background-color: #F5F8FF;
}
.section-plan .section-inner .plan-container {
  position: relative;
  margin-top: 48px;
}
.section-plan .section-inner .plan-container__item-image {
  position: absolute;
  top: -30%;
  left: 50%;
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .section-plan .section-inner .plan-container__item-image {
    left: 50%;
    top: -5%;
    max-width: 500px;
    height: 400px;
  }
}
@media (max-width: 575px) {
  .section-plan .section-inner .plan-container__item-image {
    width: 83%;
    left: 50%;
    top: 20%;
  }
}
.section-plan .section-inner .plan-container__item h4 {
  margin-top: 28px;
}
.section-plan .section-inner .plan-container__item p {
  width: 50%;
  margin-bottom: 32px;
}
.section-plan .section-inner .plan-container__item-buttons {
  display: flex;
}
.section-plan .section-inner .plan-container__item-buttons__item {
  width: 128px;
  padding: 12px 20px;
  transition: all 0.5s;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #4C85FF;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-left .btn-link {
  color: #fff;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-left:hover {
  background-color: transparent;
  border: 1px solid #D8E3FE;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-left:hover .btn-link {
  color: #ADB4D2;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-left:hover span {
  border-left-color: #ADB4D2;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-left span {
  width: 0;
  transition: all 0.5s;
  height: 0;
  display: inline-block;
  margin-left: 4px;
  border-width: 4px 8px;
  border-color: transparent;
  border-left-color: #fff;
  border-style: solid;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-right {
  background-color: transparent;
  border: 1px solid #D8E3FE;
  font-weight: 500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-right .btn-link {
  color: #ADB4D2;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-right:hover {
  background-color: #4C85FF;
  border: none;
}
.section-plan .section-inner .plan-container__item-buttons .plan-button-right:hover .btn-link {
  color: #fff;
}

.section-features {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.section-features .section-inner {
  text-align: center;
}
.section-features .section-inner .features-about h5 {
  margin-top: 20px;
}
.section-features .section-inner .features-info {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .section-features .section-inner .features-info {
    margin-top: 56px;
  }
}
.section-features .section-inner .features-info .features-info__item + .features-info__item {
  position: relative;
}
.section-features .section-inner .features-info .features-info__item + .features-info__item::before {
  content: "";
  position: absolute;
  left: -45%;
  top: 50%;
  height: 1px;
  width: 28px;
  background-color: #DAE4FE;
}
@media (max-width: 767px) {
  .section-features .section-inner .features-info .features-info__item + .features-info__item::before {
    display: none;
  }
}
.section-features .section-inner .features-info__item + .section-features .section-inner .features-info__item {
  padding-left: 40px;
}
.section-features .section-inner .features-info__item {
  max-width: 140px;
}
@media (max-width: 767px) {
  .section-features .section-inner .features-info__item {
    max-width: 100px;
    margin: 0 auto;
  }
  .section-features .section-inner .features-info__item-title {
    font-size: 12px;
    margin-top: 28px;
  }
  .section-features .section-inner .features-info__item-text {
    font-size: 9px;
  }
}
.section-features .section-inner .features-info__item-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 2.1;
  color: #4074F8;
  margin-top: 34px;
}
.section-features .section-inner .features-info__item-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 2.1;
}
@media (max-width: 767px) {
  .section-features .section-inner .features-info {
    flex-wrap: wrap;
  }
}
.section-features .section-inner .features-btns {
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 575px) {
  .section-features .section-inner .features-btns {
    margin-top: 40px;
  }
}
.section-features .section-inner .features-btns-container {
  margin: 0 auto;
  max-width: 332px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-features .section-inner .features-btns-container .features-btn-left {
  background-color: #FFD7D7;
}
.section-features .section-inner .features-btns-container .features-btn-left .btn-link {
  color: #D43F3F;
}
.section-features .section-inner .features-btns-container .btn-or {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #DFE2EF;
  line-height: 2;
  display: block;
  position: relative;
}
.section-features .section-inner .features-btns-container .btn-or::before, .section-features .section-inner .features-btns-container .btn-or::after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 1px;
  width: 15px;
  background-color: #DAE4FE;
}
.section-features .section-inner .features-btns-container .btn-or::before {
  left: -200%;
}
.section-features .section-inner .features-btns-container .btn-or::after {
  right: -200%;
}
.section-features .section-inner .features-btns-container .features-btn-right .btn-link {
  color: #3A79FF;
}

.section-stats {
  padding: 0;
  display: flex;
}
.section-stats__item {
  flex-basis: 50%;
}
.section-stats__item-title {
  margin-top: 24px;
  line-height: 2;
  font-weight: 400;
}
.section-stats__item-text {
  margin-top: 0;
}
.section-stats__item-left {
  background-color: #5E80FF;
  text-align: end;
  padding-right: 92px;
}
.section-stats__item-left .section-stats__item-title, .section-stats__item-left .section-stats__item-text {
  color: #fff;
}
.section-stats__item-left .section-stats__item-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: end;
  margin-left: auto;
  width: 30%;
}
@media (max-width: 991px) {
  .section-stats__item-left .section-stats__item-text {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .section-stats__item-left {
    padding-right: 36px;
  }
  .section-stats__item-left .section-stats__item-text {
    font-size: 16px;
  }
}
.section-stats__item-right {
  padding-left: 92px;
  margin-right: auto;
  background-color: #E9EFFF;
}
.section-stats__item-right .section-stats__item-title, .section-stats__item-right .section-stats__item-text {
  color: #5E80FF;
}
.section-stats__item-right .section-stats__item-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  width: 30%;
}
@media (max-width: 991px) {
  .section-stats__item-right .section-stats__item-text {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .section-stats__item-right {
    padding-left: 36px;
  }
  .section-stats__item-right .section-stats__item-text {
    font-size: 16px;
  }
}

.section-blog {
  background-color: #F5F8FF;
}
.section-blog .section-inner {
  position: relative;
  text-align: center;
}
.section-blog .section-inner h5 {
  margin-top: 20px;
}
.section-blog .section-inner .slider-blog-container {
  position: relative;
}
.section-blog .section-inner .slider-blog-container .slider-blog__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-blog .section-inner .slider-blog-container .slider-blog__arrow::after {
  content: "";
}
.section-blog .section-inner .slider-blog-container .arrow-left {
  left: 0;
  margin-left: -76px;
}
.section-blog .section-inner .slider-blog-container .arrow-right {
  right: 0;
  margin-right: -76px;
}
@media (max-width: 1199px) {
  .section-blog .section-inner .slider-blog-container .arrow-left, .section-blog .section-inner .slider-blog-container .arrow-right {
    display: none;
  }
}
.section-blog .section-inner .slider-blog-wrapper {
  max-width: 924px;
  box-shadow: 0 15px 50px #EFF4FF;
  margin-top: 92px;
}
@media (max-width: 767px) {
  .section-blog .section-inner .slider-blog-wrapper {
    margin-top: 40px;
  }
}
.section-blog .section-inner .slider-blog {
  padding: 0;
  margin: 0;
}
@media (max-width: 575px) {
  .section-blog .section-inner .slider-blog {
    margin-top: 20px;
  }
}
.section-blog .section-inner .slider-blog__item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .section-blog .section-inner .slider-blog__item {
    flex-direction: column;
  }
}
.section-blog .section-inner .slider-blog__item-gallery {
  grid-template-columns: 240px 120px;
  grid-template-rows: repeat(2, 120px);
  display: grid;
  gap: 13px 13px;
}
@media (max-width: 575px) {
  .section-blog .section-inner .slider-blog__item-gallery {
    grid-template-columns: 200px 100px;
    grid-template-rows: repeat(2, 100px);
    display: grid;
    gap: 10px 10px;
  }
}
.section-blog .section-inner .slider-blog__item-gallery__link {
  display: block;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 15px 100px #E5EBF8;
}
.section-blog .section-inner .slider-blog__item-gallery__link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section-blog .section-inner .slider-blog__item-gallery__link::after {
  content: "";
  border-radius: 100%;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  background: #fff url("/public/favicon/loupe.svg") no-repeat 50% 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  opacity: 0;
}
.section-blog .section-inner .slider-blog__item-gallery__link:hover::after {
  opacity: 1;
}
.section-blog .section-inner .slider-blog__item-gallery__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-blog .section-inner .slider-blog__item-gallery .gallery-link--big {
  grid-row: 1/3;
}
.section-blog .section-inner .slider-blog__item-gallery .gallery-link--big::before {
  background: linear-gradient(transparent, rgba(255, 199, 53, 0.5));
}
.section-blog .section-inner .slider-blog__item-gallery .gallery-link--small-1::before {
  background: linear-gradient(transparent, rgba(255, 53, 53, 0.5));
}
.section-blog .section-inner .slider-blog__item-gallery .gallery-link--small-2 {
  grid-row: 2/3;
}
.section-blog .section-inner .slider-blog__item-gallery .gallery-link--small-2::before {
  background: linear-gradient(transparent, rgba(53, 170, 255, 0.5));
}
.section-blog .section-inner .slider-blog__item-content {
  flex-basis: 45%;
  text-align: start;
}
@media (max-width: 991px) {
  .section-blog .section-inner .slider-blog__item-content {
    margin-top: 12px;
    text-align: center;
    flex-basis: 35;
  }
  .section-blog .section-inner .slider-blog__item-content h4 {
    margin: 0;
    font-weight: 500;
  }
}
.section-blog .section-inner .slider-blog__item-content h4 {
  margin: 0;
  font-weight: 400;
}
.section-blog .section-inner .slider-blog__item-content p {
  font-size: 14px;
  margin-top: 32px;
}
@media (max-width: 991px) {
  .section-blog .section-inner .slider-blog__item-content p {
    margin-top: 16px;
  }
}
@media (max-width: 575px) {
  .section-blog .section-inner .slider-blog__item-content p {
    font-size: 12px;
  }
}
.section-blog .section-inner .slider-blog__item-content__btns {
  margin-top: 32px;
  display: flex;
}
@media (max-width: 991px) {
  .section-blog .section-inner .slider-blog__item-content__btns {
    justify-content: center;
  }
}
.section-blog .section-inner .slider-blog__item-content__btns .slider-blog-btn-right {
  background-color: transparent;
  width: 196px;
}
.section-blog .section-inner .dots-blog {
  bottom: inherit;
  margin-top: 60px;
}
.section-blog .section-inner .dots-blog span + span {
  margin-left: 20px;
}
@media (max-width: 991px) {
  .section-blog .section-inner .dots-blog {
    margin-top: 36px;
  }
}
@media (max-width: 575px) {
  .section-blog .section-inner .dots-blog {
    margin-top: 20px;
  }
}

.section-quotes {
  background-color: #EAF0FF;
}
.section-quotes .section-inner {
  display: flex;
}
@media (max-width: 767px) {
  .section-quotes .section-inner {
    flex-direction: column;
    align-items: center;
  }
  .section-quotes .section-inner .quotes-content {
    text-align: center;
  }
}
.section-quotes .section-inner .quotes-content {
  min-width: 50%;
}
@media (max-width: 767px) {
  .section-quotes .section-inner .quotes-content {
    text-align: center;
  }
}
.section-quotes .section-inner .quotes-content h4 {
  margin-top: 32px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .section-quotes .section-inner .quotes-content h4 {
    margin-top: 16px;
  }
}
.section-quotes .section-inner .quotes-content p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-size: 12px;
  margin-top: 14px;
  max-width: 70%;
}
@media (max-width: 767px) {
  .section-quotes .section-inner .quotes-content p {
    margin: 14px auto;
  }
}
.section-quotes .section-inner .quotes-slider-container {
  box-shadow: 0 15px 50px #D4DCF1;
  max-width: 50vw;
}
@media (max-width: 767px) {
  .section-quotes .section-inner .quotes-slider-container {
    max-width: 76vw;
  }
}
.section-quotes .section-inner .quotes-slider-wrapper {
  min-width: 50%;
}
.section-quotes .section-inner .quotes-slider-wrapper .quotes-slider {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #D8E3FE;
  box-shadow: 0 15px 50px #D4DCF1;
  background: #fff;
}
@media (max-width: 767px) {
  .section-quotes .section-inner .quotes-slider-wrapper .quotes-slider {
    max-width: 76vw;
    margin: 0 auto;
  }
}
.section-quotes .section-inner .quotes-slider-wrapper .quotes-slider__item {
  box-sizing: border-box;
  position: relative;
  padding: 40px 68px;
  background: #fff;
}
@media (max-width: 575px) {
  .section-quotes .section-inner .quotes-slider-wrapper .quotes-slider__item {
    padding: 28px 52px;
  }
}
.section-quotes .section-inner .quotes-slider-wrapper .quotes-slider__item-text {
  color: #676F95;
  font-size: 14px;
  margin: 0;
}
.section-quotes .section-inner .quotes-slider-wrapper .quotes-slider__item-photo {
  bottom: 0;
  left: 50%;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background: url("/public/images/quotes-photo.png") no-repeat 50% 50%;
  transform: translate(-50%, 110%);
}
.section-quotes .section-inner .dots {
  margin-top: 44px;
}
@media (max-width: 575px) {
  .section-quotes .section-inner .dots {
    margin-top: 80px;
  }
}

.section-faq .section-inner {
  text-align: center;
}
.section-faq .section-inner .faq-titles h5 {
  margin-top: 20px;
  font-weight: 700;
}
.section-faq .section-inner .accordion {
  list-style: none;
  text-align: start;
  margin-top: 64px;
  max-width: 760px;
}
@media (max-width: 575px) {
  .section-faq .section-inner .accordion {
    padding-left: 0;
  }
}
.section-faq .section-inner .accordion__item--active .accordion__item-trigger-text {
  font-weight: 700;
  color: #495274;
}
.section-faq .section-inner .accordion__item--active .accordion__item-trigger-icon {
  transform: rotate(180deg);
}
.section-faq .section-inner .accordion__item--active .accordion__item-trigger-icon path {
  stroke: #495274 !important;
}
.section-faq .section-inner .accordion__item--active .accordion__item-content {
  display: flex;
  transform: translateX(0);
  position: relative;
}
.section-faq .section-inner .accordion__item {
  overflow: hidden;
  border-bottom: 1px solid #D8E3FE;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
}
.section-faq .section-inner .accordion__item-trigger {
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: all 0.5s;
}
.section-faq .section-inner .accordion__item-trigger-icon {
  margin-left: 24px;
  transition: all 0.5s;
}
.section-faq .section-inner .accordion__item-trigger-icon path {
  stroke: #8E96B7;
  transition: all 0.5s;
}
.section-faq .section-inner .accordion__item-trigger-text {
  margin-left: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #8E96B7;
  line-height: 1.3;
  transition: all 0.3s;
}
.section-faq .section-inner .accordion__item-content {
  position: absolute;
  transform: translateX(-300%);
  transition: all 0.5s;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-left: 56px;
}
@media (max-width: 767px) {
  .section-faq .section-inner .accordion__item-content {
    margin-top: 12px;
    margin-left: 48px;
  }
}
.section-faq .section-inner .accordion__item-content-text {
  width: 60%;
}
@media (max-width: 767px) {
  .section-faq .section-inner .accordion__item-content-text {
    width: 50%;
  }
}
.section-faq .section-inner .accordion__item-content-btn {
  width: 200px;
  text-align: center;
  background-color: #E8ECF4;
}
@media (max-width: 767px) {
  .section-faq .section-inner .accordion__item-content-btn {
    width: 160px;
    margin-left: 25px;
  }
}
@media (max-width: 575px) {
  .section-faq .section-inner .accordion__item-content-btn {
    width: 120px;
    margin-left: 25px;
    padding: 4px 12px;
  }
}
.section-faq .section-inner .accordion__item-content-btn .btn-link {
  font-weight: 500;
}

.section-started {
  background-color: #6888FF;
  background-image: url("/public/images/getstarted.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.section-started .section-inner {
  text-align: center;
}
.section-started .section-inner h3 {
  margin-top: 16px;
  color: #fff;
}
.section-started .section-inner h2 {
  color: #fff;
}
.section-started .section-inner p {
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  max-width: 70%;
  line-height: 2;
  color: #fff;
}
.section-started .section-inner .started-btns {
  margin-top: 28px;
  display: flex;
  margin-top: 28px;
  justify-content: center;
  margin-top: 28px;
}
.section-started .section-inner .started-btns .started__btn-left {
  background-color: #fff;
  width: 128px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.section-started .section-inner .started-btns .started__btn-left .btn-link {
  color: #565F82;
}
.section-started .section-inner .started-btns .started__btn-right {
  background-color: transparent;
  border: 1px solid #A0B4FF;
  width: 156px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: start;
}
.section-started .section-inner .started-btns .started__btn-right .btn-link {
  color: #fff;
  font-weight: 500;
}

.section-newsteller {
  background-color: #FCFDFF;
}
.section-newsteller .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}
@media (max-width: 767px) {
  .section-newsteller .section-inner {
    align-items: start;
    flex-direction: column;
  }
  .section-newsteller .section-inner .newsteller__form {
    margin-top: 8px;
    width: 100%;
  }
}
.section-newsteller .section-inner .newsteller__content {
  flex-basis: 40%;
}
.section-newsteller .section-inner .newsteller__content-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #3D4F9F;
}
.section-newsteller .section-inner .newsteller__content-text {
  margin-top: 18px;
}
.section-newsteller .section-inner .newsteller__form {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}
.section-newsteller .section-inner .newsteller__form-input {
  padding: 22px;
  box-sizing: border-box;
  background-color: #EFEFF7;
  color: #7A85AD;
  border: none;
  border-radius: 5px;
  max-height: 60px;
  flex-basis: 65%;
}
.section-newsteller .section-inner .newsteller__form-button {
  flex-basis: 35%;
  margin-left: 16px;
  padding: 0;
  background-color: #4D6CE1;
  text-align: center;
  height: 60px;
}
.section-newsteller .section-inner .newsteller__form-button .btn-link {
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
}

.section-footer {
  border-bottom: none;
}
@media (max-width: 991px) {
  .section-footer .main-navigation__inner-wrapp, .section-footer .main-navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media (max-width: 991px) {
  .section-footer .main-navigation__inner-wrapp > *, .section-footer .main-navigation .header-btn {
    margin-top: 20px;
    margin-left: 0 !important;
  }
}
.section-footer .section-inner .nav-list {
  margin: 0 auto;
}
@media (max-width: 575px) {
  .section-footer .section-inner .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-footer .section-inner .nav-list__item {
    margin-top: 12px;
    margin-left: 0;
  }
}
.section-footer .section-inner .copyright {
  margin: 28px 0 0 100px;
  color: #AEB8D0;
  font-family: "Quicksand", sans-serif;
}
.section-footer .section-inner .copyright-content {
  font-size: 12px;
}
