




$html-font-size: 16px;
$fw-bold: 700;
$fw-light: 300;
$fw-regular:400;
$fw-medium:500;

$devider-color:#D8E3FE;
$base: 4px;
$bootstrap-min-sm: 576px;
$bootstrap-max-sm: $bootstrap-min-sm - 1px;
$bootstrap-min-md: 768px;
$bootstrap-max-md: $bootstrap-min-md - 1px;
$bootstrap-min-lg: 992px;
$bootstrap-max-lg: $bootstrap-min-lg - 1px;
$bootstrap-min-xl: 1200px;
$bootstrap-max-xl: $bootstrap-min-xl - 1px;
$bootstrap-min-xxl: 1400p;


//font-size: $base*12;



